<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<form action="#" th:action="@{/sample}" th:object="${formBean}" method="post">
    <table>
        <tr>
            <td>ID:</td>
            <td><input type="text" th:field="*{id}" th:class="${#fields.hasErrors('id')}? 'error-input'"/></td>
            <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="error-message">ID Error</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message">Name Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>
